@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  color: white;
}

/* top-header */
.main-hero {
  background-image: url("/images/bg_1.jpg");
  filter: #ffffff;
  filter: brightness(90%);
  opacity: 1;
  width: 100%;
  color: white;
  background-size: cover;
  height: 650px;
  /* background-position-x: center;
  background-position-y: center; */
  background-position: center;
  background-repeat: no-repeat;
  scale: 1;
}

.main-top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: transparent;
  align-items: center;
  padding: 10px 0;
  width: 80%;
  filter: brightness(100%);
  z-index: 99;
}

.mailnphone p {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 23px;
  z-index: 999;
}

.mailnphone a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 22px;
  z-index: 99;
}

.social-icons {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-size: 13px;
  line-height: 13px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.social-icons i {
  color: white;
}

/* main-menu */
.main-manu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 25px 125px;
  align-content: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  color: white;
}

.main-manu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(237, 235, 236, 0.3);
  color: white;
  z-index: -1;
}

.logo h4 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  line-height: 24px;
  font-family: sans-serif;
  font-weight: 700;
  z-index: 1;
}

.manu-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-right: -10px;
}

.manu-list a {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
}
.manu-list a:hover {
  color: #cdb30c;
  transform: scale(1.05);
}
.manu-list a:active{
  transform: scale(1.1);
  color: #cdb30c;
}
.manu-list .home {
  color: #cdb30c;
}

.manu-list a:hover {
  color: #cdb30c;
}

/* hero-section */
.hero-section {
  width: 80%;
  margin-left: 15%;
  margin: 0 auto;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 5rem;
}

.hero-text h3 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 23px;
  font-size: 13px;
  margin-top: 20px;

}

.hero-text h2 {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.9);
  font-size: 52px;
  line-height: 62px;
  font-weight: 700;
  letter-spacing: -2px;
  font-family: "Roboto", sans-serif;
  margin-right: 20rem;
  margin-top: -10px;
}

.hero-text p {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 25rem;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-top: 30px;
}

.get-started {
  color: white;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: #CDB30C;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 29px;
  font-weight: 400;
  padding: 9px 25px;
  border: none;
  border-radius: 3px;
  overflow: hidden;
}
.view-portfolio {
  color: black;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 25px;
  line-height: 29px;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.view-portfolio:hover{
  box-shadow: 0px 0px 0.5rem #000;
  background-color: #cdb30c;
  transform: scale(1.1);
}

/* services section */
.services-main {
  background-image: url("/images/use_your_illusion.png");
  height: 120vh;
  background-attachment: fixed;
  align-content: center;
  vertical-align: middle;
}

.main-for-twodivs {
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
}

.top-row-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 7rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.contextdiv {
  width: 50%;
}

.contextdiv h3 {
  font-size: 34px;
  word-spacing: 2px;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-right: 8rem;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.contextdiv p {
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.two-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.hovercard {
  background-color: #1a1a1a;
  padding: 45px;
  border-radius: 5px;
  position: relative;
  overflow: visible;
  transition: 0.3s;
  min-height: 50px;
}

.hovercardone {
  background-color: #cdb30c;
  padding: 45px;
  border-radius: 5px;
  position: relative;
  overflow: visible;
  transition: 0.3s;
  min-height: 50px;
}

.hovercard:hover,
.hovercardone:hover {
  background-color: #cdb30c;
}

.hovercard:hover i,
.hovercardone:hover i {
  color: black;
}

.hovercard:hover h2,
.hovercardone:hover h2 {
  color: black;
}

.card-context {
  display: flex;
  flex-direction: column;
}

.card-context h2 {
  color: white;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  padding-top: 2rem;
}

.hovercardone .card-context h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  padding-top: 2rem;
}

.hovercard i {
  color: #cdb30c;
  font-size: 22px;
  margin-left: 7rem;
}

.hovercardone i {
  color: black;
  font-size: 22px;
  margin-left: 7rem;
}

.hovercard i:hover,
.hovercardone i:hover {
  color: black;
  font-size: 22px;
  margin-left: 7rem;
}

.bottom-row-main {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

a {
  text-decoration: none;
  height: 2px;
}

.arrow-btn .fa-angle-right {
  opacity: 0;
  position: absolute;
  color: #cdb30c;
  top: 170px;
  bottom: -70px;
  left: 30%;
  transform: translateX(-160%);
  width: 45px;
  height: 45px;
  background: #232429;
  border: 2px solid #cdb30c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  text-decoration: none;
}

.hovercard:hover .arrow-btn i {
  opacity: 1;
  transform: translateX(-90%);
  color: #cdb30c;
}

.hovercardone:hover .arrow-btn i {
  opacity: 1;
  transform: translateX(-90%);
  color: #cdb30c;
}

/* about-us */
.creative-standards {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  /* padding: 6rem 0; */
}

.image-side {
  width: 50%;
}

.image-side img {
  width: 97%;
  height: 600px;
  object-fit: cover;
  display: block;
}

.text-side {
  width: 50%;
  color: #333;
  padding-left: 50px;
  padding-top: 5rem;
}

.text-side h5 {
  color: #cdb30c;
  font-weight: 600;
  font-size: 13px;
  font-family: sans-serif;
  line-height: 23px;
  margin-bottom: 10px;
}

.text-side h2 {
  color: #333333;
  font-family: sans-serif;
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.text-side p {
  position: relative;
  color: rgb(153, 153, 153);
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}

.experience-box {
  display: flex;
  align-items: center;
  background-color: #CDB30C;
  color: #000;
  padding: 12px 20px;
  border-radius: 2px;
  width: 300px;
  margin-left: -130px;
  margin-top: 1.5rem;
  z-index: 3;
}

.experience-box .icon {
  font-size: 30px;
  margin-right: 15px;
  background-color: black;
  padding: 10px;
  border-radius: 50%;
}

.experience-box .icon i {
  color: white
}

.text {
  padding-left: 10px;
}

.experience-box h3 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  font-family: sans-serif;
  margin: 0 auto;
  color: white;
}

.experience-box p {
  font-size: 12px;
  line-height: 15px;
  font-family: sans-serif;
  font-weight: 600;
  width: 50%;
  padding-top: 2px;
  margin: 0;
  color: white;
}

/* fixed img */
.fixed-img {
  background-image: url("/images/bg_4.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fixed-img::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.main-for-iconsfixed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 5rem 6rem 6.6rem;
  gap: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.icon-div {
  background-color: #cdb30c;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 60px;
  height: 65px;
  border-radius: 4px;
}

.project i {
  color: #ffffff;
  font-size: 35px;
  align-content: center;
}

.project-content {
  color: white;
  font-size: 20px;
}

.project-content h3 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  padding-top: 1rem;
}

.project-content h5 {
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-transform: uppercase;
  padding-top: 1rem;
}

/* frequently-asked questions */
.main-question-section {
  background-color: #f4f5f9;
  height: 130vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-for-aboutwidth {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questio-left-side {
  width: 50%;
  margin: 0 auto;
}

.questio-left-side h5 {
  color: #cdb30c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  width: 80%;
}

.questio-left-side h2 {
  color: #313132;
  font-size: 34px;
  font-weight: 600;
  padding-right: 7rem;
  line-height: 550x;
  text-transform: uppercase;
  font-family: sans-serif;
}

.questio-left-side button {
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  padding: 7px 20px;
  background-color: #CDB30C;
  cursor: pointer;
}

.questions-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 8px 5px;
  font-family: sans-serif;
}

.questions-div h3 {
  color: white;
  font-weight: 400;
  word-spacing: 3px;
  font-size: 18px;
  font-family: sans-serif;
  line-height: 27px;
}

.questions-div i {
  color: white;
  font-size: 22px;
  margin-left: 7rem;
}

.questions-details ol {
  text-align: left;
  margin: 0 auto;
  padding-top: 20px;
  line-height: 1.5rem;
  margin-left: 2rem;
}

.questions-details ol li {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  line-height: 45px;
  font-weight: 400;
}

.questio-right-side {
  margin: 0 auto;
}

.questio-right-side h2 {
  color: #313132;
  font-size: 34px;
  font-weight: 800;
  padding-right: 7rem;
  padding-top: 2rem;
}

.questio-right-side img {
  height: 310px;
  width: 100%;
}

.main-progress {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.5rem;
  gap: 10px;
}

.top-progress-content,
.top-progress-content-2,
.top-progress-content-3,
.top-progress-content-4 {
  display: flex;
  flex-direction: row;
  /* margin: 0 auto; */
  justify-content: space-between;
  padding-bottom: 5px;
}

.top-progress-content h4,
.top-progress-content-2 h4,
.top-progress-content-3 h4,
.top-progress-content-4 h4 {
  color: #1a1a1a;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-top: 10px;
}

.top-progress-content h3,
.top-progress-content-3 h3 {
  font-size: 18px;
  color: #cdb30c;
  margin-right: 10px;
}

.top-progress-content-2 h3 {
  font-size: 18px;
  color: #cdb30c;
  margin-right: 3rem;
}

.top-progress-content-4 h3 {
  font-size: 18px;
  color: #cdb30c;
  margin-right: 25px;
}

.bottom-progress {
  width: 100%;
  background-color: #a4a4a5;
  height: 5px;
  border-radius: 3px;
}

.colordiv,
.colordiv-3 {
  height: 5px;
  width: 95%;
  background-color: #cdb30c;
  border-radius: 3px;
}

.colordiv-2 {
  height: 5px;
  width: 85%;
  background-color: #cdb30c;
  border-radius: 3px;
}

.colordiv-4 {
  height: 5px;
  width: 90%;
  background-color: #cdb30c;
  border-radius: 3px;
}

/* team */
.main-team-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 0 0;
  position: relative;
}

.top-main-div {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 7.9rem;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.righ-side-team {
  width: 60%;
}

.righ-side-team h5 {
  color: #cdb30c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  width: 80%;
}

.righ-side-team h2 {
  color: #313132;
  font-size: 34px;
  font-weight: 800;
  padding-right: 7rem;
  text-transform: uppercase;
  line-height: 3rem;
}

.left-side-team {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: center;
  margin: o auto;
}

.left-side-team button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-color: #cdb30c;
  background-color: transparent;
  color: #cdb30c;
  cursor: pointer;
}

.left-side-team button:focus {
  outline: none;
}

.bottomm-main-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  margin: 12rem auto 0;

}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  background-image: url("/images/staff-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* justify-content: space-between; */
  text-align: center;
  width: 35%;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.card-1::before,
.card-2::before,
.card-3::before,
.card-4::before,
.card-5::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(205, 179, 12, 1);
  opacity: 0.8;
  transition: top 0.4s ease;
  z-index: 1;
}

.card-1::after,
.card-2::after,
.card-3::after,
.card-4::after,
.card-5::after {
  content: "";
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 50%;
  position: absolute;
  transition: bottom 0.4s ease;
  background-color: rgba(205, 179, 12, 1);
  opacity: 0.8;
  z-index: 1;
}

.card-1:hover:after,
.card-2:hover:after,
.card-3:hover:after,
.card-4:hover:after,
.card-5:hover:after {
  bottom: 0;
}

.card-1:hover:before,
.card-2:hover:before,
.card-3:hover:before,
.card-4:hover:before,
.card-5:hover:before {
  top: 0;
}

.card-2 {
  background-image: url("/images/staff-2.jpg");
}

.card-3 {
  background-image: url("/images/staff-3.jpg");
}

.card-4 {
  background-image: url("/images/staff-4.jpg");
}

.card-5 {
  background-image: url("/images/staff-5.jpg");
}

.card-1 h5,
.card-2 h5,
.card-3 h5,
.card-4 h5,
.card-5 h5 {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom: 1rem;
  padding-top: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 999;
}

.card-1 p,
.card-2 p,
.card-3 p,
.card-4 p,
.card-5 p {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  z-index: 999;
}

.card-1:hover .card-content:hover,
.card-2:hover .card-content:hover,
.card-3:hover .card-content:hover,
.card-4:hover .card-content:hover,
.card-5:hover .card-content:hover {
  opacity: 1;
}

.card-content {
  opacity: 0;
  position: relative;
  transition: opacity 0.3s ease;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  margin-top: -2rem;
}

.social-icons-team {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icons-team button {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: transparent;
  color: white;
  position: relative;
  z-index: 99;
  font-size: 10px;
}

.social-icon-team i {
  font-size: 25px;
  border: 1px;
  border-radius: 150%;
}

/* work */
.main-work-div {
  margin: 10rem auto;
  align-items: center;
  justify-content: space-around;
  background-color: #232429;
  width: 100%;
}

.work-main-div {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  height: 80vh;
  padding-bottom: 10rem;
}

.righ-side-work {
  width: 60%;
}

.righ-side-work h5 {
  color: #cdb30c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  width: 80%;
}

.righ-side-work h2 {
  color: #FFFFFF;
  font-size: 34px;
  font-weight: 800;
  padding-right: 7rem;
  text-transform: uppercase;
  line-height: 3rem;
}

.left-side-work {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: center;
  margin: o auto;
}

.left-side-work button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 12px;
  text-transform: uppercase;
  border-color: #cdb30c;
  background-color: transparent;
  color: #cdb30c;
  cursor: pointer;
}

.left-side-work button:focus {
  outline: none;
}

/* cards */
.main-cards-section {
  /* background-color: #f4f5f9; */
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: -20rem;
  z-index: 999;
}

.topbottom-main-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-three,
.bottom-three {
  display: flex;
  width: 81%;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  gap: 2rem;
}

.toprow-card-1,
.toprow-card-2,
.toprow-card-3,
.toprow-card-4,
.toprow-card-5,
.toprow-card-6 {
  background-image: url("/images/work-1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0;
  position: relative;
  padding-right: 2rem;
  padding-top: 0.5rem;
  overflow: hidden;
  height: 55vh;
}

.toprow-card-1::before,
.toprow-card-2::before,
.toprow-card-3::before,
.toprow-card-4::before,
.toprow-card-5::before,
.toprow-card-6::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(35, 36, 41, 0.9);
  transition: top 0.4s ease;
}

.toprow-card-1:hover::before,
.toprow-card-2:hover::before,
.toprow-card-3:hover::before,
.toprow-card-4:hover::before,
.toprow-card-5:hover::before,
.toprow-card-6:hover::before {
  top: 0;
}

.toprow-card-1::after,
.toprow-card-2::after,
.toprow-card-3::after,
.toprow-card-4::after,
.toprow-card-5::after,
.toprow-card-6::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100%;
  height: 50%;
  background: rgba(35, 36, 41, 0.9);
  transition: bottom 0.4s ease;
}

.toprow-card-1:hover::after,
.toprow-card-2:hover::after,
.toprow-card-3:hover::after,
.toprow-card-4:hover::after,
.toprow-card-5:hover::after,
.toprow-card-6:hover::after {
  bottom: 0;
}

.toprow-card-2 {
  background-image: url("/images/work-2.jpg");
}

.toprow-card-3 {
  background-image: url("/images/work-3.jpg");
}

.toprow-card-4 {
  background-image: url("/images/work-4.jpg");
}

.toprow-card-5 {
  background-image: url("/images/work-5.jpg");
}

.toprow-card-6 {
  background-image: url("/images/work-6.jpg");
}

.topow-card-content {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  padding: 0 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.topow-card-content .icon {
  display: flex;
  flex-direction: column;
  align-content: end;
  /* justify-content: flex-end; */
  color: white;
  font-size: 2rem;
  position: relative;

}

.toprow-card-1 h5,
.toprow-card-2 h5,
.toprow-card-3 h5,
.toprow-card-4 h5,
.toprow-card-5 h5,
.toprow-card-6 h5 {
  color: #cdb30c;
  width: 100%;
  position: relative;
  transform: translateY(-30px);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
  padding-right: 1rem;
  visibility: hidden;
  transition: opacity 0.8s ease;
  opacity: 0;
  z-index: 99;
}

.toprow-card-1:hover h5,
.toprow-card-2:hover h5,
.toprow-card-3:hover h5,
.toprow-card-4:hover h5,
.toprow-card-5:hover h5,
.toprow-card-6:hover h5 {
  visibility: visible;
  opacity: 1;
}

.toprow-card-1 p,
.toprow-card-2 p,
.toprow-card-3 p,
.toprow-card-4 p,
.toprow-card-5 p,
.toprow-card-6 p {
  color: white;
  width: 100%;
  position: absolute;
  top: 40%;
  font-size: 18px;
  text-transform: uppercase;
  transform: translateY(-20px);
  font-weight: 800;
  padding-bottom: 1rem;
  padding-right: 1rem;
  visibility: hidden;
  transition: opacity 0.8s ease;
  opacity: 0;
  z-index: 99;
}

.toprow-card-1:hover p,
.toprow-card-2:hover p,
.toprow-card-3:hover p,
.toprow-card-4:hover p,
.toprow-card-5:hover p,
.toprow-card-6:hover p {
  visibility: visible;
  opacity: 1;
}

.topow-card-icon {
  width: 40px;
  height: 40px;
  background: #cdb30c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin-left: -2rem;
  opacity: 0;
  cursor: pointer;
  visibility: hidden;
  transform: translateY(14.3rem);
  transition: all .4s ease;
  z-index: 99;
}

.toprow-card-1:hover .topow-card-icon,
.toprow-card-2:hover .topow-card-icon,
.toprow-card-3:hover .topow-card-icon,
.toprow-card-4:hover .topow-card-icon,
.toprow-card-5:hover .topow-card-icon,
.toprow-card-6:hover .topow-card-icon {
  opacity: 1;
  visibility: visible;
  /* transform: translateY(-60%); */
}

/* review */
.main-review-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  background-color: #f4f5f9;
  padding-bottom: 5rem;
}

.main-top-row-review {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10rem;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 7.5rem;
}

.main-top-row-review h5 {
  color: #cdb30c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  /* padding-bottom: 1rem; */
}

.main-top-row-review h2 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  line-height: 3rem;
  padding-top: 1rem;
  font-family: sans-serif;
}

.main-bottom-row-review {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1.5rem;
  margin: 0;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: white;
  padding: 20px 25px;
  border-radius: 5px;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.reviews p {
  font-size: 16px;
  line-height: 29px;
  font-family: sans-serif;
  color: rgb(153, 153, 153);
  line-height: 2rem;
}

.ratinig-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.ratinig-div img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.rating-content i {
  color: #cdb30c;
  font-size: 10px;
}

.rating-content h5 {
  text-transform: uppercase;
  color: #1a1a1a;
  font-weight: 550;
  font-size: 17px;
  line-height: 32px;
  font-family: sans-serif;
  padding: 5px 0;
}

.rating-content h6 {
  color: #cdb30c;
  font-size: 12px;
  line-height: 22px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

/* post-section */
.main-post-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  align-items: center;
  background-color: white;
}

.main-top-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
  padding-top: 10rem;
  padding-bottom: 5rem;
  /* padding-right: 10rem; */
  /* padding-left: 10rem; */
}

.main-top-row h5 {
  color: #cdb30c;
  font-family: sans-serif;
  font-size: 13px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.main-top-row h2 {
  color: rgba(0, 0, 0, 0.8);
  font-family: sans-serif;
  font-size: 34px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 3rem;
}

/* post-card */
.main-bottom-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 1.5rem;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  margin-bottom: 10rem;
}

.img-schedule {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
}

.img-schedule img {
  height: auto;
  width: 20rem;
}

.for-calender-format {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 20px 10px;
  gap: 1rem;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-top: -2rem;
  z-index: 999;
}

.con-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.con-div i {
  color: #cdb30c;
  font-size: 12px;
  margin-right: -10px;
}

.con-div button {
  font-size: 12px;
  font-family: sans-serif;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  border: none;
}

.post-context {
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
}

/* post-card-lower-context */
.post-card-context {
  display: flex;
  /* height: 50vh; */
  background-color: white;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding: 30px 15px;
  margin-top: -35px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.post-card-context button {
  background: transparent;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  font-size: 19px;
  line-height: 25x;
  color: #1a1a1a;
  font-weight: 700;
  padding-top: 30px;
}

.post-card-context button:hover {
  color: #cdb30c;
}

.post-card-context p {
  color: #a4a4a5;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  padding: 10px 5px;
  padding: 20px 10px;
}

/* join us */
.main-join-us {
  background-image: url("/images/bg_4.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 15rem;
  margin: 0 auto;
  border-radius: 10px;
  background-repeat: no-repeat;
  z-index: 9999;
  position: relative;
}

input:focus {
  border: 0;
  outline: 0;
}

.main-join-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(205,
      179,
      12,
      0.75);
  /* #cdb30c */
  /*   #baa520 with opacity */
  z-index: 1;
  border-radius: 10px;
}

.main-join-us>* {
  position: relative;
  z-index: 2;
}

.join-us-text {
  margin: 0 auto;
}

.join-us-text h3 {
  color: white;
  text-transform: uppercase;
  font-size: 34px;
}

.join-us-text p {
  color: white;
  font-size: 18px;
  padding: 10px 0;
}

.join-us-mail {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 0;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20px;
}

.join-us-mail input {
  padding: 15px 5rem;
  background-color: white;
  color: #313132;
  font-size: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0;
  /* border-color: #cdb30c; */
}

.join-us-mail button {
  font-size: 15px;
  padding: 10px 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #cdb30c;
  color: white;
}

/* footer */
footer {
  background-color: #232429;
  /* height: auto; */
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding-top: 15rem;
  padding-bottom: 10rem;
  padding-left: 8rem;
  padding-right: 8rem;
  margin-top: -4rem;
}

.first-div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 33%;
}

.first-div h3 {
  color: rgb(255, 255, 255);
  font-size: 19px;
  line-height: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.first-div p {
  color: #a4a4a5;
  font-size: 18px;
  width: 70%;
  padding: 1rem 0;
}

.fi-social-main {
  color: white;
  border-color: #cdb30c;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 10px;
}

.fi-social-main i {
  background-color: #cdb30c;
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 50%;
}

/* second */
.se-div {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 7px;
  align-content: flex-start;
  width: 20%;
  text-align: left;
}

.se-div h3,
.th-div h3,
.fo-div h3,
.fi-div h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  font-family: sans-serif;
  text-transform: uppercase;
}

.se-main-icons {
  display: flex;
  flex-direction: row;
  gap: 2px;
  padding-top: 1rem;
  align-content: center;
}

.se-main-icons i {
  color: #a4a4a5;
  font-size: 16px;
  line-height: 25px;
}

.se-main-icons h6 {
  color: #a4a4a5;
  text-transform: capitalize;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.th-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: space-between; */
  width: 20%;
  gap: 7px;
  text-align: left;
}

.fo-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: space-between; */
  width: 20%;
  text-align: left;
  gap: 7px;
}

.fi-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* justify-content: space-between; */
  width: 20%;
  text-align: left;
  gap: 7px;
}

.fi-div .se-main-icons {
  gap: 10px;
}

.fi-div .se-main-icons i {
  color: #cdb30c;
}

/* lower-footer */
.lower-footer {
  width: 100%;
  height: auto;
  background-color: #1e1f23;
  padding: 3rem 8.5rem;
  margin: 0;
}

.lower-footer h3 {
  width: 100%;
  margin: 0 auto;
  color: #a4a4a5;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  font-family: sans-serif;
}

.lower-footer .se-span {
  color: white;
  cursor: pointer;
}

.lower-footer .se-span:hover {
  color: #cdb30c;
}
